:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}
/* resets and base style from figma */
body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  background-color: var(--white);
  color: var(--slate, #434455);
  letter-spacing: 0.02em;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--navy-blue, #2e2f42);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* container and etc */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */
.main-header {
  background-color: white;
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-header .container {
  display: flex;
  align-items: center;
}

.nav-ul,
.address-info {
  display: none;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris, #4d5ae5);
}

.logo-web {
  padding: 16px 0;
  display: block;
}

.logo {
  color: var(--navy-blue, #2e2f42);
}

.main-header .container {
  justify-content: space-between;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.burger-svg-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .nav-ul {
    display: flex;
    gap: 40px;
  }

  .nav-li-a {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 24px 0;
  }

  .address-info {
    font-style: normal;
    display: flex;
  }

  .nav-main {
    display: flex;
    align-items: center;
  }

  .logo-web {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-ul a:focus,
  .nav-ul a:hover,
  .address-info .address-link:hover,
  .address-info .address-link:focus {
    color: var(--ocean, #404bbf);
  }

  .active-link {
    color: var(--ocean, #404bbf);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .active-link::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--ocean, #404bbf);
    border-radius: 2px;
  }

  .address-info ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-info a {
    font-weight: normal;
  }

  .address-info .address-link {
    padding: 0;
    color: var(--slate, #434455);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1158px) {
  .logo-web {
    margin-right: 76px;
  }

  .address-info .address-ul {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-info .address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero .container {
  color: var(--white, #fff);
  padding: 72px 52px;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero-bg.jpg');
  max-width: 1440px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  margin-bottom: 72px;
}

.hero-button {
  margin: 0;
  padding: 16px 32px;
  background-color: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean, #404bbf);
}

@media screen and (min-width: 768px) {
  .hero .container {
    padding: 112px 136px;
  }

  .hero-text {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero .container {
    padding: 188px 472px;
  }

  .hero-text {
    margin-bottom: 48px;
  }
}

/* features */
.container-svg-features {
  display: none;
}

.features {
  padding: 96px 0;
}

.features-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.features-ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 72px;
}

.features-li-elem {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .features-header {
    text-align: left;
  }

  .features-ul {
    flex-direction: row;
    gap: 24px;
  }

  .features-li-elem {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }

  .container-svg-features {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: var(--cloud);
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    margin: 0 0 8px 0;
  }

  .features-header {
    line-height: 1.2;
    font-size: 20px;
  }

  .features-ul {
    gap: 24px;
  }

  .features-ul li {
    width: calc((100% - 72px) / 4);
  }
}

/* team section */
.team-cards {
  padding: 96px 0;
  background-color: var(--cloud);
}

.team-container {
  padding: 32px 16px;
  text-align: center;
}

.team-header {
  line-height: 1.11;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 0 72px 0;
  color: #2e2f42;
}

.team-ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  justify-content: center;
}

.team-li {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow:
    1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-li-header {
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  font-size: 20px;
  color: var(--navy-blue);
}

.team-paragraph {
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icon {
  fill: #f4f4fd;
  color: #f4f4fd;
  display: block;
}

.social-icon {
  border-radius: 50%;
  display: flex;
  background-color: var(--iris);
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list .social-icon:hover,
.team-social-list .social-icon:focus {
  background-color: var(--ocean);
}

@media screen and (min-width: 768px) {
  .team-ul {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team-ul {
    gap: 24px;
  }
}
/* portfolio */
.portfolio {
  padding: 96px 0;
}

.portfolio-header {
  font-weight: 700;
  color: var(--navy-blue);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  justify-content: center;
  margin: 0 0 72px 0;
}

.portfolio-li-header {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.portfolio-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.portfolio-ul {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-li-elem {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: var(--white);
}

.portfolio-container {
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  padding: 32px 16px;
}

.popup-paragraph {
  display: none;
}

@media screen and (min-width: 768px) {
  .portfolio-ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-li-elem {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-ul {
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-li-elem {
    width: calc((100% - 48px) / 3);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-li-elem:focus,
  .portfolio-li-elem:hover {
    box-shadow:
      0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .features-popup-container {
    position: relative;
    overflow: hidden;
  }

  .popup-paragraph {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .features-popup-container:hover .popup-paragraph {
    transform: translateY(0%);
  }
}

/* page footer */
.page-footer {
  padding: 96px 16px;
  background-color: var(--navy-blue);
}

.footer-link {
  display: flex;
  margin-bottom: 16px;
  justify-content: center;
}

.footer-logo {
  color: var(--cloud);
}

.page-footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.container-footer-logo {
  max-width: 264px;
}

.footer-paragraph {
  color: var(--cloud);
}

.container-footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-links-paragraph {
  color: var(--white);
  margin-bottom: 16px;
  font-weight: 500;
}

.page-footer .social-icon:hover,
.page-footer .social-icon:focus {
  background-color: var(--green);
}

.container-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-paragraph {
  margin-bottom: 16px;
  color: var(--white);
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.subscribe-input {
  background-color: transparent;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  border: 1px solid var(--white);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white);
}

.subscribe-input::placeholder {
  color: var(--white);
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
}

.subscribe-button:hover {
  background-color: var(--ocean);
}

.subscribe-icon {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .page-footer {
    padding: 0;
  }

  .footer-link {
    display: inline-block;
  }

  .page-footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding: 96px 108px;
  }

  .container-footer-links {
    align-items: start;
  }

  .container-subscribe {
    align-items: start;
  }

  .subscribe-form {
    flex-direction: row;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer .container {
    align-items: baseline;
    padding: 100px 0;
    gap: 0;
  }

  .container-footer-logo {
    margin-right: 120px;
  }

  .container-footer-links {
    margin-right: 80px;
  }
}

/* modal window */
.modal-overlay-popup {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  pointer-events: none;
}

.modal-overlay-popup.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal-window {
  background-color: var(--dairy);
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  width: 288px;
  max-width: 100%;
  min-height: 623px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 16px 16px;
}

.modal-close-button {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  padding: 0;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:focus,
.modal-close-button:hover {
  background-color: #404bbf;
  border: none;
}

.svg-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .svg-close-icon,
.modal-close-button:focus .svg-close-icon {
  fill: #ffffff;
  color: #ffffff;
}

.modal-paragraph {
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  gap: 4px;
}

.modal-wrapper {
  margin-bottom: 8px;
  width: 100%;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input-wrapper {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-wrapper:focus-within .modal-input-icon {
  color: #4d5ae5;
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-comment-input {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-input:focus {
  border-color: #4d5ae5;
}

.modal-checkbox-wrapper {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox-input:checked + .modal-checkbox-label .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
  color: #f4f4fd;
}

.checkbox-link {
  color: #4d5ae5;
  text-decoration: underline;
  font-size: 12px;
  line-height: 1.33;
  margin: 0;
  padding: 0;
}

.modal-send-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-button:hover {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal-window {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .modal-form {
    padding: 0 24px;
    gap: 4px;
  }
}

/* mobile menu */
.mobile-menu {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
}
/* safety for tablets and desktop, just in case */
@media screen and (min-width: 768px) {
  .mobile-menu.is-open {
    opacity: 0;
    pointer-events: none;
  }
}

.mobile-menu-window {
  background-color: var(--dairy);
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 40px 16px;
}

.mobile-list {
  width: 151px;
  margin-bottom: 168px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-list-element {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.mobile-active-link {
  color: var(--ocean, #404bbf);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
  margin-bottom: 48px;
}

.mobile-contacts:active {
  color: var(--iris);
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts-social-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

/* removing scrollbar for tablets and desktop */
@media screen and (min-width: 768px) {
  ::-webkit-scrollbar:horizontal {
    appearance: none;
  }
}

/* images for 2x resolution */
@media (min-resolution: 196dpi) {
  .hero .container {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg2x.jpg');
  }
}
