.hidden {
  display: none;
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}
/* resets and base style from figma */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: var(--white);
  color: var(--slate, #434455);
  letter-spacing: 0.02em;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--navy-blue, #2e2f42);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* container and etc */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */
.main-header {
  background-color: white;
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-header .container {
  display: flex;
  align-items: center;
}

.nav-ul,
.address-info {
  display: none;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris, #4d5ae5);
}

.logo-web {
  padding: 16px 0;
  display: block;
}

.logo {
  color: var(--navy-blue, #2e2f42);
}

.main-header .container {
  justify-content: space-between;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.burger-svg-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .nav-ul {
    display: flex;
    gap: 40px;
  }

  .nav-li-a {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 24px 0;
  }

  .address-info {
    font-style: normal;
    display: flex;
  }

  .nav-main {
    display: flex;
    align-items: center;
  }

  .logo-web {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-ul a:focus,
  .nav-ul a:hover,
  .address-info .address-link:hover,
  .address-info .address-link:focus {
    color: var(--ocean, #404bbf);
  }

  .active-link {
    color: var(--ocean, #404bbf);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .active-link::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--ocean, #404bbf);
    border-radius: 2px;
  }

  .address-info ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-info a {
    font-weight: normal;
  }

  .address-info .address-link {
    padding: 0;
    color: var(--slate, #434455);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1158px) {
  .logo-web {
    margin-right: 76px;
  }

  .address-info .address-ul {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-info .address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero .container {
  color: var(--white, #fff);
  padding: 72px 52px;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero-bg.jpg');
  max-width: 1440px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  margin-bottom: 72px;
}

.hero-button {
  margin: 0;
  padding: 16px 32px;
  background-color: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean, #404bbf);
}

@media screen and (min-width: 768px) {
  .hero .container {
    padding: 112px 136px;
  }

  .hero-text {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero .container {
    padding: 188px 472px;
  }

  .hero-text {
    margin-bottom: 48px;
  }
}

/* features */
.container-svg-features {
  display: none;
}

.features {
  padding: 96px 0;
}

.features-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.features-ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 72px;
}

.features-li-elem {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .features-header {
    text-align: left;
  }

  .features-ul {
    flex-direction: row;
    gap: 24px;
  }

  .features-li-elem {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }

  .container-svg-features {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: var(--cloud);
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    margin: 0 0 8px 0;
  }

  .features-header {
    line-height: 1.2;
    font-size: 20px;
  }

  .features-ul {
    gap: 24px;
  }

  .features-ul li {
    width: calc((100% - 72px) / 4);
  }
}

/* team section */
.team-cards {
  padding: 96px 0;
  background-color: var(--cloud);
}

.team-container {
  padding: 32px 16px;
  text-align: center;
}

.team-header {
  line-height: 1.11;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 0 72px 0;
  color: #2e2f42;
}

.team-ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  justify-content: center;
}

.team-li {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow:
    1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-li-header {
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  font-size: 20px;
  color: var(--navy-blue);
}

.team-paragraph {
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icon {
  fill: #f4f4fd;
  /* color: #f4f4fd; */
  display: block;
}

.social-icon {
  border-radius: 50%;
  display: flex;
  background-color: var(--iris);
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list .social-icon:hover,
.team-social-list .social-icon:focus {
  background-color: var(--ocean);
}

@media screen and (min-width: 768px) {
  .team-ul {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team-ul {
    gap: 24px;
  }
}
/* portfolio */
.portfolio {
  padding: 96px 0;
}

.portfolio-header {
  font-weight: 700;
  color: var(--navy-blue);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  justify-content: center;
  margin: 0 0 72px 0;
}

.portfolio-li-header {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.portfolio-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.portfolio-ul {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-li-elem {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: var(--white);
}

.portfolio-container {
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  padding: 32px 16px;
}

.popup-paragraph {
  display: none;
}

@media screen and (min-width: 768px) {
  .portfolio-ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-li-elem {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-ul {
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-li-elem {
    width: calc((100% - 48px) / 3);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-li-elem:focus,
  .portfolio-li-elem:hover {
    box-shadow:
      0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}
